.header {
	color: saddlebrown;
	background-color: sandybrown;
	border-style: solid;
	border-color: saddlebrown;
	border-width: 3px;
}

.content {
}

.footer {
}


ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
}
